* {
	font-family: Arial, Verdana, sans-serif;
}
nav{
	background-color:#789CE0;
	padding: 15px;
	padding-left: 70px;
	padding-right: 70px;
	margin-left: 300px;
	margin-right: 300px;
	display:flex;
	justify-content:space-between;
}
h2{
	text-align:center;
	margin-top:30px;
}
.dog{
	float:left;
	width:400px;
	height:220px;
}
.row{
	width:100%;
}
.dogdescription{
	width:50%;
	float:left;
	text-align:center;
}
.videodescription{
	width:50%;
	float:right;
	text-align:center;
}
	
.video{
	float:right;
	width:400px;
	height:220px;
}