* {
	font-family: Arial, Verdana, sans-serif;
}
nav{
	background-color:#789CE0;
	padding: 15px;
	padding-left: 70px;
	padding-right: 70px;
	margin-left: 300px;
	margin-right: 300px;
	display:flex;
	justify-content:space-between;
}
h2{
	text-align:center;
	margin-top:30px;
}
.contact{
	text-align:center;
	background-color:#BFBBC3;
	padding:20px;
	margin-left:450px;
	margin-right:450px;
}