* {
	font-family: Arial, Verdana, sans-serif;
}
nav{
	background-color:#789CE0;
	padding: 15px;
	padding-left: 70px;
	padding-right: 70px;
	margin-left: 300px;
	margin-right: 300px;
	display:flex;
	justify-content:space-between;
}
h2{
	text-align:center;
	margin-top:30px;
}
.job{
	color:#476F75;
}
.jobs{
	left-margin:50px;
}